doctype html
html
    head
        meta(charset="UTF-8")
        title=title + " | Tic Tac Two"
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        script(src="/socket.io/socket.io.js") //required for hosted game
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="../script/socket.js")
        link(rel="shortcut icon", type="image/png", href="/favicon.png")
        if script
            script(src=script)
        if scripts
            each script in scripts
                script(src=script)
    body
        #header
            a(href="/")
                img(src="/img/logo2.png", alt="The logo for Tic Tac Two.")
            #titlebox
                h2
                    block titlebox
        #clear
        #wrapper
            #navigation
                if !loggedin
                    a(href="/login")="Login"
                else
                    a(href="/logout")="Logout"
                a(href="/live")="Hot Seat Multiplayer"
                a(href="/lobby")="Host Online Game"
                a(href="/records")="Check Records"
                a(href="/about")="About Us"
        #maincontent
            block content
        #linkbar
            if !loggedin
                a(href="/login")="Login"
            else
                a(href="/logout")="Logout"
            | &nbsp;&nbsp&nbsp;
            a(href="/live")="Hot Seat Multiplayer"
            | &nbsp;&nbsp&nbsp;
            a(href="/lobby")="Host Online Game"
            | &nbsp;&nbsp&nbsp;
            a(href="/records")="Check Records"
            | &nbsp;&nbsp&nbsp;
            a(href="/about")="About Us"
        #copyright
            | &copy; 2013 Apathy
